<form action='/create_user' method='post' name='sign_up'>
	<input type='username' name='username' placeholder='Username'>
	<input type='email' name='email' placeholder='email'>
	<input type='password' name='password' placeholder='Password'>
	<input type='submit' value='Sign up!'>
</form>